temp/
.vscode/
.history/
output/
Setting Up Virtual Box/*
CA19-midterm-problems.zip
CA19-midterm-problems/*


Lab 1/Code-2018/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


test/testmidterm.sh
test/CSA_Lab1_test/
Midterm/MIPS_pipeline_grading.cpp
